<footer class="site-footer">
  <small>
    This project is made with ❤️ by <a href="https://www.linkedin.com/in/nickmartins/">Nickolas Martins</a>.
    Check out the <a href="https://github.com/nick-martins/nick-martins-netlify">GitHub repo</a>.
  </small>
</footer>
